@model HousingHack.Models.DashboardModel


<h2>Dashboard</h2>

<div class="cCircle circle-red">Total Listings<br />@Model.TotalListings</div>
<div class="cCircle circle-green">Total Ventures<br />@Model.TotalVentures</div>
